body {
    background-image: url(imagem\ 2.jpg);
}

h1 {
    font-family:Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color:
    text-align initial;
}

.midia {
    position: relative;

   }
    
 .figure.detals_container{
    
     position: absolute; width: 100px;
        height: 100px;
     }
    
.ods15{
    background-color: bisque;
}

.detals_container {
    background-color: bisque;
}
